<mat-card appearance="outlined">
  <mat-card-header>
    <h5 class="text-secondary p-2 fw-bold">Most Selling Category</h5>
  </mat-card-header>
  <mat-card-content>
    @if(isLoading){
    <mat-spinner [diameter]="24"></mat-spinner>
    } @else if(mostSellingCategories.length === 0){
    <h5 class="fw-semibold mb-4 ms-2 mt-1">No data</h5>
    }@else{
    <mat-chip-set aria-label="Fish selection">
      @for(tag of mostSellingCategories; track $index){
      <mat-chip>
        {{ tag.tag }} |
        <strong>{{ tag.totalQuantity }}</strong>
      </mat-chip>
      }
    </mat-chip-set>
    }
  </mat-card-content>
</mat-card>
