.tags-container::-webkit-scrollbar {
  display: none;
}

.title-container {
  overflow-wrap: break-word;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3em; /* Assuming the line-height is 1.5em, adjust if different */
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  min-height: 3em;
}
